<app-main-page></app-main-page>
<form>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th *ngFor="let weekday of weekdays" class="font-weight-bold">{{weekday}}</th>
    </tr>
    </thead>
    <tr *ngFor="let task of timesheet.tasks">
      <td>
        <p class="font-weight-bold">{{task.title}}</p>
        <p class="font-weight-light">Limit: {{task.time_limit}} h</p>
      </td>
      <td *ngFor="let track of task.tracked">
        <br/>
        <p class="time_tracked">{{track.tracked_time}} h</p>
        <p>{{track.description}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Raport pracownika:</p>
        <p class="font-weight-bold">{{timesheet.workername}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Wybierz tydzień:</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-info" (click)="fetchPrevTimesheet()"><<</button>
          </div>
          <input type="text" value="{{timesheet.week}}" size="1" class="form-control text-center">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" (click)="fetchNextTimesheet()">>></button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Zaakceptuj" class="btn btn-info" (click)="accept_timesheet()"/>
        <input type="submit" value="Odrzuć" class="btn btn-outline-info" (click)="decline_timesheet()"/>
      </td>
    </tr>
    <tr>
      <td>
        Wybierz raport dla innego pracownika:
        <select class="form-control" id="worker">
          <option *ngFor="let employee of employees">{{employee.username}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Wczytaj" class="btn btn-info" (click)="fetchTimesheet()"/>
      </td>
    </tr>
  </table>
</form>

