<ul class="nav nav-tabs">
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/my-reports']">Moje raporty</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/employees-reports']">Raporty pracowników</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/assign-tasks']">Przydziel zadania</a>
    </div>
  </li>
  <li (click)="logout()" class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/logout']">Wyloguj</a>
    </div>
  </li>
</ul>
