<ul class="nav nav-tabs justify-content-center" xmlns="" xmlns="" xmlns="" xmlns="" xmlns="" xmlns="" xmlns="">
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/my-reports']">Moje raporty</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/employees-reports']">Raporty pracowników</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/assign-tasks']">Przydziel zadania</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-info">
      <a class="nav-link alert-info" [routerLink]="['/logout']">Wyloguj</a>
    </div>
  </li>
</ul>
<br/>
<div class="container" onload="preselect()">
  <div class="row">
    <div class="col">
      <select class="form-control" id="task">
        <option *ngFor="let task of tasks">{{task.id + ". " + task.name}}</option>
      </select>
      <input type="submit" value="Wyświetl szczegóły" class="btn btn-info" (click)="fetchDetails()"/>
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="model.time" name="time" placeholder="czas" class="form-control">
      <input type="text" [(ngModel)]="model.worker" name="worker" placeholder="pracownik" class="form-control">
      <input type="submit" value="Zapisz zmiany" class="btn btn-info" (click)="updateDetails()"/>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info btn-block" [routerLink]="['/add-task']">Dodaj zadanie</button>
      <br/>
      <button type="button" class="btn btn-outline-info btn-block" [routerLink]="['/employees-reports']">Przejdź do raportów</button>
    </div>
  </div>
</div>
