<app-main-page></app-main-page>
<div class="row">
  <div class="col">
    <form>
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-outline-info" (click)="decreaseWeek()"><<</button>
        </div>
        <input type="text" [(ngModel)]="model.week" name="week" size="1" class="form-control text-center">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-info" (click)="increaseWeek()">>></button>
        </div>
      </div>
      <select class="form-control" id="task">
        <option *ngFor="let task of tasks">{{task}}</option>
      </select>
      <input type="submit" value="Pobierz raport" class="btn btn-info" (click)="fetchReport()"/>
    </form>
  </div>
  <div class="col">
    <div class="p-3 mb-2 bg-info text-white">
      <p class="h4 font-weight-bold">Status: {{this.model.status}}</p>
    </div>
    <form>
      <div *ngFor="let track of model.tracked" class="form-group">
        <p class="h4 font-weight-bold">{{track.day}}:</p>
        <p class="h6 font-italic">Zapisany czas: {{track.trackedTime}}, Opis: {{track.description}}</p>
        <p class="h6">Edycja:</p>
        <input type="number" [(ngModel)]="track.trackedTime" placeholder="" name="trackedTime" class="form-control">
        <input type="text" [(ngModel)]="track.description" placeholder="nowy opis" name="description"
               class="form-control">
      </div>
      <input type="submit" value="Wyślij raport" class="btn btn-info" (click)="sendReport()"/>
    </form>
  </div>
</div>
