<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label for="task-name">Zadanie:</label>
          <input type="text" id="task-name" [(ngModel)]="model.task_name" name="task_name" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="task-time">Czas na zadanie:</label>
          <input type="text" id="task-time" [(ngModel)]="model.task_time" name="task_time" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="task-time">Pracownik:</label>
          <input type="text" id="employee" [(ngModel)]="model.employee" name="employee" class="form-control"/>
        </div>
        <input type="submit" value="Dodaj" class="btn btn-info" (click)="add()"/>
        <button [routerLink]="['/assign-tasks']" class="btn btn-outline-info">Powrót</button>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
