body {
  text-align: center;
  font-family: "Comic Sans MS";
}

ul {
  display: inline;
  border: 5px #000 solid;
  border-radius: 20px;
  background-color: #e2f31c;
}

li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Comic Sans MS";
  font-size: larger;
}

a:hover {
  color: #696969;
}

.button {
  border: 1px #000 solid;
  border-radius: 20px;
  font-family: "Comic Sans MS";
  background-color: #e2f31c;
}

.button:hover {
  color: #696969;
}

td {
  height: 60px;
  width: 250px;
  border: 1px #000 solid;
}

th {
  height: 60px;
  width: 250px;
  border: 1px #000 solid;
  margin-top: 10px;
}
